In [92]:
import pandas as pd
import numpy as np

df = pd.read_csv('hw5.csv')

In [65]:
def euclidian_distance(df,train_plantID):
    df2 = pd.DataFrame(columns = ["plantID","difference","classification"])
    for index in range(0,15):
        plantID = df.iloc[index][0]
        sepalL_diff = (df.iloc[index][1] - df.iloc[train_plantID-1][1]) ** 2
        sepalW_diff = (df.iloc[index][2] - df.iloc[train_plantID-1][2]) ** 2
        petalL_diff = (df.iloc[index][3] - df.iloc[train_plantID-1][3]) ** 2
        petalW_diff = (df.iloc[index][4] - df.iloc[train_plantID-1][4]) ** 2
        distance_diff_squared = sepalL_diff+sepalW_diff+petalL_diff+petalW_diff
        classification = df.iloc[index][5]
        diff = np.sqrt(distance_diff_squared)
        df2.loc[index] = [plantID,diff,classification]
    return df2

In [66]:
distance_for_plantID_16 = euclidian_distance(df,16)
distance_for_plantID_17 = euclidian_distance(df,17)
distance_for_plantID_18 = euclidian_distance(df,18)

In [89]:
distance_for_plantID_16.sort_values(by="difference",axis=0,ascending=True,ignore_index=True)[:5]

   plantID  difference classification
0        1    0.648074    iris-setosa
1        8    0.774597    iris-setosa
2        7    0.830662    iris-setosa
3       14    0.943398    iris-setosa
4        3    0.984886    iris-setosa

In [90]:
distance_for_plantID_17.sort_values(by="difference",axis=0,ascending=True,ignore_index=True)[:5]

   plantID  difference   classification
0       10    0.648074  iris-versicolor
1        4    0.734847  iris-versicolor
2       12    0.842615  iris-versicolor
3        5    0.932738  iris-versicolor
4       15    1.067708  iris-versicolor

In [91]:
distance_for_plantID_18.sort_values(by="difference",axis=0,ascending=True,ignore_index=True)[:5]

   plantID  difference   classification
0        2    0.663325   iris-virginica
1        6    0.678233   iris-virginica
2       13    0.911043   iris-virginica
3       11    0.916515   iris-virginica
4       15    1.830301  iris-versicolor