In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('hw8_q1.csv')[:25]

In [2]:
df.tail()

    date   outlook    wind playTennis
20    21     Sunny    Weak        Yes
21    22  Overcast    Weak         No
22    23      Rain    Weak        Yes
23    24     Sunny  Strong        Yes
24    25  Overcast    Weak         No

We want to predict the classification for Instances #26, 27 and 28, and thus need to calculate the probabilities using the Naive Bayes approach for each of the following scenarios:
- Sunny & Strong = P(Sunny|Yes),P(Sunny|No),P(Strong|Yes),P(Strong|No)
- Overcast & Weak = P(Overcast|Yes),P(Overcast|No),P(Weak|Yes),P(Weak|No)
- Rain & Weak = P(Rain|Yes),P(Rain|No),P(Weak|Yes),P(Weak|No)

In [30]:
df_yes = df[df["playTennis"]=='Yes']
df_no = df[df["playTennis"]=='No']
p_classification = 0.5
m = 1

In [48]:
# (5/15) * (6/15) * (15/25)
# (5/15) * (9/15) * (15/25)
# (5/15) * (9/15) * (15/25)
# (4/10) * (4/10) * (10/25)
(3/10) * (6/10) * (10/25)

0.072

In [41]:
# df_yes[df_yes["outlook"]=='Rain']
df_yes[df_yes["wind"]=='Weak']

    date   outlook  wind playTennis
2      3  Overcast  Weak        Yes
3      4      Rain  Weak        Yes
4      5      Rain  Weak        Yes
8      9     Sunny  Weak        Yes
9     10      Rain  Weak        Yes
12    13  Overcast  Weak        Yes
16    17  Overcast  Weak        Yes
20    21     Sunny  Weak        Yes
22    23      Rain  Weak        Yes

In [43]:
# df_no[df_no["outlook"]=='Sunny']
df_no[df_no["wind"]=='Weak']

    date   outlook  wind playTennis
0      1     Sunny  Weak         No
7      8     Sunny  Weak         No
17    18      Rain  Weak         No
18    19     Sunny  Weak         No
21    22  Overcast  Weak         No
24    25  Overcast  Weak         No

In [25]:
yes = len(df_yes) / len(df)
no = len(df_no) / len(df)

0.6 0.4

In [5]:
sunny_yes = len(df_yes[df_yes["outlook"]=='Sunny']) / len(df_yes)
overcast_yes = len(df_yes[df_yes["outlook"]=='Overcast']) / len(df_yes)
rain_yes = len(df_yes[df_yes["outlook"]=='Rain']) / len(df_yes)

sunny_no = len(df_no[df_no["outlook"]=='Sunny']) / len(df_no)
overcast_no = len(df_no[df_no["outlook"]=='Overcast']) / len(df_no)
rain_no = len(df_no[df_no["outlook"]=='Rain']) / len(df_no)

weak_yes = len(df_yes[df_yes["wind"]=='Weak']) / len(df_yes)
strong_yes = len(df_yes[df_yes["wind"]=='Strong']) / len(df_yes)

weak_no = len(df_no[df_no["wind"]=='Weak']) / len(df_no)
strong_no = len(df_no[df_no["wind"]=='Strong']) / len(df_no)

In [22]:
(yes26,no26) = ((sunny_yes*strong_yes*yes),(sunny_no*strong_no*no))
(yes27,no27) = ((overcast_yes*weak_yes*yes),(overcast_no*weak_no*no))
(yes28,no28) = ((rain_yes*weak_yes*yes),(rain_no*weak_no*no))

In [24]:
for i in [(yes26,no26),(yes27,no27),(yes28,no28)]:
    print(i)
    if i[0] > i[1]:
        print('Yes')
    else:
        print('No')

(0.08, 0.06400000000000002)
Yes
(0.11999999999999998, 0.072)
Yes
(0.11999999999999998, 0.072)
Yes

In [49]:
print("Day 26 (Sunny & Strong) yes/no probabilities: (0.08, 0.06400000000000002). Final classification: YES.")
print("Day 27 (Overcast & Weak) yes/no probabilities: (0.11999999999999998, 0.072). Final classification: YES.")
print("Day 28 (Rain & Weak) yes/no probabilities: (0.11999999999999998, 0.072). Final classification: YES.")

Day 26 (Sunny & Strong) yes/no probabilities: (0.08, 0.06400000000000002). Final classification: YES.
Day 27 (Overcast & Weak) yes/no probabilities: (0.11999999999999998, 0.072). Final classification: YES.
Day 28 (Rain & Weak) yes/no probabilities: (0.11999999999999998, 0.072). Final classification: YES.

In [7]:
# def naivebayes_probs(lst_of_atts,df_yes,df_no):
#     n_outlook_yes = len(df_yes["outlook"])
#     for i in lst_of_outlook_atts:
#         df_yes[df_yes["outlook"]==i]

In [8]:
def probability(n,n_c,p,m):
    probability = (n_c + (m * p)) / (n + m)
    return probability

In [9]:
def probability_of_classification(df_yes,df_no,attribute1,attribute2,p_classification,m):

    n_yes = len(df_yes["playTennis"])
    n_no = len(df_no["playTennis"])

    n_c_yes_1 = len(df_yes[df_yes["outlook"]==attribute1])
    n_c_yes_2 = len(df_yes[df_yes["wind"]==attribute2])

    n_c_no_1 = len(df_no[df_no["outlook"]==attribute1])
    n_c_no_2 = len(df_no[df_no["wind"]==attribute2])

    p1 = 1/len(np.unique(df_yes["outlook"]))
    p2 = 1/len(np.unique(df_yes["wind"]))
    
    yes_prob1 = probability(n_yes,n_c_yes_1,p1,m)
    yes_prob2 = probability(n_yes,n_c_yes_2,p2,m)
    no_prob1 = probability(n_no,n_c_no_1,p1,m)
    no_prob2 = probability(n_no,n_c_no_2,p2,m)
    print(yes_prob1,yes_prob2,no_prob1,no_prob2)

    final_yes_prob = p_classification * yes_prob1 * yes_prob2
    final_no_prob = p_classification * no_prob1 * no_prob2

    return (final_yes_prob,final_no_prob)

In [10]:
# attribute1 = "Sunny"
# attribute2 = "Strong"
# n_yes = len(df_yes["playTennis"])
# len(df_yes[df_yes["outlook"]==attribute1])
# 1/len(np.unique(df_yes["wind"]))

In [11]:
def final_predicted_classification(date_tuple):
    if date_tuple[0] > date_tuple[1]:
        final_predicted_classification = 'Yes'
    else:
        final_predicted_classification = 'No'
    return final_predicted_classification

In [12]:
date26 = probability_of_classification(df_yes,df_no,"Sunny","Strong",p_classification,m)
date27 = probability_of_classification(df_yes,df_no,"Overcast","Weak",p_classification,m)
date28 = probability_of_classification(df_yes,df_no,"Rain","Weak",p_classification,m)

0.3333333333333333 0.40625 0.3939393939393939 0.4090909090909091
0.3333333333333333 0.59375 0.30303030303030304 0.5909090909090909
0.3333333333333333 0.59375 0.30303030303030304 0.5909090909090909

In [13]:
print("Day 26: P(A|Yes)= ",date26[0],"P(A|No)= ",date26[1])
print("Day 27: P(A|Yes)= ",date27[0],"P(A|No)= ",date27[1])
print("Day 28: P(A|Yes)= ",date28[0],"P(A|No)= ",date28[1])

Day 26: P(A|Yes)=  0.06770833333333333 P(A|No)=  0.08057851239669421
Day 27: P(A|Yes)=  0.09895833333333333 P(A|No)=  0.08953168044077135
Day 28: P(A|Yes)=  0.09895833333333333 P(A|No)=  0.08953168044077135

In [14]:
predicted_date26 = final_predicted_classification(date26)
predicted_date27 = final_predicted_classification(date27)
predicted_date28 = final_predicted_classification(date28)

In [15]:
print("Predicted Classification for Date 26: ",predicted_date26)
print("Predicted Classification for Date 27: ",predicted_date27)
print("Predicted Classification for Date 28: ",predicted_date28)

Predicted Classification for Date 26:  No
Predicted Classification for Date 27:  Yes
Predicted Classification for Date 28:  Yes

In [16]:
df.iloc[0][1]

'Sunny'

In [17]:
len(df_no["date"])

10

In [52]:
0.33*25

8.25