In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('hw8_q1.csv')

In [2]:
df.tail()

    date   outlook    wind playTennis
23    24     Sunny  Strong        Yes
24    25  Overcast    Weak         No
25    26     Sunny  Strong        NaN
26    27  Overcast    Weak        NaN
27    28      Rain    Weak        NaN

We want to predict the classification for Instances #26, 27 and 28, and thus need to calculate the probabilities using the Naive Bayes approach for each of the following scenarios:
- Sunny & Strong = P(Sunny|Yes),P(Sunny|No),P(Strong|Yes),P(Strong|No)
- Overcast & Weak = P(Overcast|Yes),P(Overcast|No),P(Weak|Yes),P(Weak|No)
- Rain & Weak = P(Rain|Yes),P(Rain|No),P(Weak|Yes),P(Weak|No)

In [3]:
df_yes = df[df["playTennis"]=='Yes']
df_no = df[df["playTennis"]=='No']
p_classification = 0.5
m = 3

In [4]:
def probability(n,n_c,p,m):
    probability = (n_c + (m * p)) / (n + m)
    return probability

In [14]:
def probability_of_classification(df_yes,df_no,attribute1,attribute2,p_classification,m):

    n_yes = len(df_yes["playTennis"])
    n_c_yes_1 = len(df_yes[df_yes["outlook"]==attribute1])
    n_c_yes_2 = len(df_yes[df_yes["wind"]==attribute2])

    n_no = len(df_no["playTennis"])
    n_c_no_1 = len(df_no[df_no["outlook"]==attribute1])
    n_c_no_2 = len(df_no[df_no["wind"]==attribute2])

    yes_prob1 = probability(n_yes,n_c_yes_1,p_classification,m)
    yes_prob2 = probability(n_yes,n_c_yes_2,p_classification,m)
    no_prob1 = probability(n_no,n_c_no_1,p_classification,m)
    no_prob2 = probability(n_no,n_c_no_2,p_classification,m)
    print(yes_prob1,yes_prob2,no_prob1,no_prob2)

    final_yes_prob = p_classification * yes_prob1 * yes_prob2
    final_no_prob = p_classification * no_prob1 * no_prob2

    return (final_yes_prob,final_no_prob)

In [15]:
def final_predicted_classification(date_tuple):
    if date_tuple[0] > date_tuple[1]:
        final_predicted_classification = 'Yes'
    else:
        final_predicted_classification = 'No'
    return final_predicted_classification

In [16]:
date26 = probability_of_classification(df_yes,df_no,"Sunny","Strong",p_classification,m)
date27 = probability_of_classification(df_yes,df_no,"Overcast","Weak",p_classification,m)
date28 = probability_of_classification(df_yes,df_no,"Rain","Weak",p_classification,m)

0.325 0.425 0.5 0.4090909090909091
0.425 0.575 0.22727272727272727 0.5909090909090909
0.325 0.575 0.4090909090909091 0.5909090909090909

In [13]:
print("Day 26: P(A|Yes)= ",date26[0],"P(A|No)= ",date26[1])
print("Day 27: P(A|Yes)= ",date27[0],"P(A|No)= ",date27[1])
print("Day 28: P(A|Yes)= ",date28[0],"P(A|No)= ",date28[1])

Day 26: P(A|Yes)=  0.0690625 P(A|No)=  0.10227272727272728
Day 27: P(A|Yes)=  0.12218749999999999 P(A|No)=  0.06714876033057851
Day 28: P(A|Yes)=  0.09343749999999999 P(A|No)=  0.12086776859504134

In [8]:
predicted_date26 = final_predicted_classification(date26)
predicted_date27 = final_predicted_classification(date27)
predicted_date28 = final_predicted_classification(date28)

In [9]:
print("Predicted Classification for Date 26: ",predicted_date26)
print("Predicted Classification for Date 27: ",predicted_date27)
print("Predicted Classification for Date 28: ",predicted_date28)

Predicted Classification for Date 26:  No
Predicted Classification for Date 27:  Yes
Predicted Classification for Date 28:  No

In [10]:
df.iloc[0][1]

'Sunny'

In [11]:
len(df_no["date"])

8

In [12]:
df_no

    date   outlook    wind playTennis
0      1     Sunny    Weak         No
1      2     Sunny  Strong         No
5      6      Rain  Strong         No
7      8     Sunny    Weak         No
13    14      Rain  Strong         No
17    18      Rain    Weak         No
18    19     Sunny    Weak         No
24    25  Overcast    Weak         No